{% extends "base.html" %}

{% block content %}

    <h1>CRV19 Cart</h1>

    {% if cart.menuitems.exists %}

        # copied table structure from bootstrap, content, tables

    <table class="table cart-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody class="cart-body">

            {% for menuitem in cart.menuitems.all %}
            <tr class="cart-menuitem">
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ menuitem.get_absolute_url }}"> {{ menuitem.name }}</a>
                    {% include "menuitem/snippets/update-cart.html" with menuitem=menuitem cart=cart in_cart=True %}
                </td>
                <td>{{ menuitem.price }}</td>
            </tr>
            {% endfor %}

        <tr>
            <td colspan="2"></td>
            <td><b>Subtotal</b> $<span class="cart-subtotal"> {{ cart.subtotal }}</span></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><b>Total</b> $<span class="cart-subtotal"> {{ cart.total }}</span></td>
        </tr>
                <tr>
            <td colspan="2"></td>
            <td><a class="btn btn-lg btn-success" href="{% url 'cart:checkout' %}">Checkout</a> </td>
        </tr>
        </tbody>
    </table>

    {% else %}

    <p class="lead">Cart is empty</p>

    {% endif %}


{% endblock content %}