{% extends "base.html" %}


{% block content %}

    <!-- make the pictures smaller on the browser -->
    <style>
        .box {
            width: 25%;
            height: 25%;
            border: 2px dashed #f7a239;
        }
        img {
            width: 100%;
            height: 100%;
        }
    </style>


        <div class="row">
            <div class="col">

                <h1>
                    {{ object.title }}
                </h1>
            {{ object.timestamp|date:"D d M Y P" }}


                    {{ object.description|linebreaks }}


                <div class="box">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" />
                    {% endif %}
                </div>
            </div>
        </div>


{% endblock content %}
<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
      .box {
        width: 25%;
        height: 25%;
        border: 2px dashed #f7a239;
      }
      img {
        width: 100%;
        height: 100%;
      }
    </style>

</head>
<body>

<h1>
    {{ object.title }}
</h1>

<h2>
    {{ object.description }}
</h2>

    <div class="box">
        {% if object.image %}
            <img src="{{ object.image.url }}" />
        {% endif %}
    </div>
<!--    {{ object.image.url }} -->


<br/>

</body>
</html>

-->