{% extends "base.html" %}


{% block content %}

    <!-- make the pictures smaller on the browser -->
    <style> .box {width: 25%; height: 25%; border: 2px dashed #f7a239; }
        img { width: 100%; height: 100%; }
    </style>


    <div class="row">
        <div class="col-12 col-md-6">
                <h1> {{ object.title }} </h1>
                {{ object.timestamp|date:"D d M Y P" }}
        <br>Price $
                {{ object.price }}
                {{ object.description|linebreaks }}

                <!-- <div class="box"> -->
                    {% if object.image %}
                        <img src="{{ object.image.url }}" class="img-fluid" />
                    {% endif %}
                <!--  </div> -->
        </div>

        <div class="col-12 col-md-6">
            <!-- <b>Cart ID: {{ cart }} </b> </br> don't display cart ID anymore -->
            {% include "menuitem/snippets/update-cart.html" with menuitem=object cart=cart %}

{#            {% if object in cart.menuitems.all %}#}
{#            <button class="btn btn-link"> Remove this dish?</button>#}
{#            {% else %}#}
{#            <button class="btn btn-success"> Add to cart </button>#}
{#            {% endif %}#}
        </div>

    </div>

{% endblock content %}
