{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CRV19 - Home Food Love</title>

    {% include "base/css.html" %}
    {% block base_head %} {% endblock base_head %}


</head>
<body>
{% include "base/navbar.html" with brand_name="Hal's CRV19 Foods" %}
{% block content %}

{% endblock content %}

{% include "base/js.html" %}

</body>
</html>