{% extends "base.html" %}

{% block content %}
    <!-- Stripe Form -->
    <!-- <script src="https://js.stripe.com/v3/"></script> in templates/base/js.html -->

    <!-- move it to the middle -->
    <div class="col-10 col-md-6 mx-auto">
        <h2>Add Payment Method Info</h2>

            <!-- div below is one liner that can be used anywhere
                 Code for handling is via JSRender in files crv19_main.js and
                 js_render_templates.html
             -->
        <div class="stripe-payment-form" data-token="{{ publish_key }}"
             data-next-url="{% if next_url %}{{ next_url }}{% endif %}" data-btn-title="Add new card">
        </div>
    </div>

    <!-- Script moved to oldStripe.js -->

{% endblock %}

